*{
    margin: 0;
    padding: 0;
}

body,html {
    width: 100%;
    height: 100%;
}

img.bg{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
h3.click{
    position: absolute;
    color: #f0f0f0;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}
.search_list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s_l_1{
    flex-wrap: wrap;
    margin-top: -11em;
}
#s_l_1 > .s_i{
    width: calc(100%/3);
}
.s_i{
    margin-top: 10em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 25px;
    width: 280px;
    height: 5em;
    line-height: 5em;
    text-align: center;
    color: #f0f0f0;
    background-color: #191919;
    border: 3px #f0f0f0 solid;
}
.a_img{
    width: 64%;
    height: auto;
}
.b_img{
    width: 35%;
    height: auto;
}
.inline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input.box{
    width: 400px;
    height: 4em;
}
input.button{
    margin-top: 2em;
    width: 20%;
    height: 3em;
}
.q_img_1{
    width: 100%;
}
#form2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.q_img_2{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.img_4{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.q_img_3,.q_img_4{
    width: calc(100%/4);
}
.kami{
    width: 35%;
    height: auto;
    margin: 0 auto;
}
a.start_1{
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 0;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'New Tegomin', serif;
}